<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@page "/page3"
@attribute [Authorize(Policy="MemberPolicy")]

<h2>Page 3</h2>
<p>Only visible for authorized members.</p>
