<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2023 Rick Beerendonk -->

@inherits TestContext

See more: https://bunit.dev/docs/getting-started/writing-tests.html#creating-basic-tests-in-razor-files

@code {
    [Fact]
	public void ShouldRenderHelloBlazor()
	{
		// Arrange
		var cut = Render(@<App />);

		// Assert that content of the h1 shows "Hello <name>!" with name = Blazor
		cut.Find("h1").MarkupMatches(@<h1>Hello Blazor!</h1>);
	}
}
