<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<button @onclick="OnClickCallback">Click</button>

@code {
  // Event
  [Parameter]
  public EventCallback<MouseEventArgs> OnClickCallback { get; set; }
}