<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2024 Rick Beerendonk -->

@page "/page1"

@inject AppState AppState
@implements IDisposable

<h2>Page 1</h2>

<button @onclick="() => AppState.Count1++">This has been clicked @AppState.Count1 times!</button>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}