<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<h1>Top</h1>
<CascadingValue Value="@color" Name="ColorParameter">
    <Middle />
</CascadingValue>

@code {
    const string color = "red";
}
