<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<button @onclick="Use1">Use 1</button>
<button @onclick="Use2">Use 2</button>
<button @onclick="Use3">Use 3</button>

<button @onclick="lastHandleClick">Add ?</button>
<h1>Count: @count</h1>

@code {
    private int count = 0;

    private Action? lastHandleClick;

    private void Use1() {
        lastHandleClick = () => count += 1;
    }

    private void Use2() {
        lastHandleClick = () => count += 2;
    }

    private void Use3() {
        lastHandleClick = () => count += 3;
    }
}
