<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@using System
@implements IDisposable

<h1>Hello @Name! (@count time)</h1>

@code {
  private string count = "1";

  // Property
  [Parameter]
  public string Name { get; set; }

  public Hello()
  {
    Console.WriteLine("-- Constructor");
  }

  public void Dispose()
  {
    Console.WriteLine("-- Dispose");
  }

  protected override void OnInitialized()
  {
    Console.WriteLine("-- OnInitialized");
  }

  protected override async Task OnInitializedAsync()
  {
    Console.WriteLine("-- OnInitializedAsync");
    //await ...
  }

  public override async Task SetParametersAsync(ParameterView parameters)
  {
    string ParameterViewString = string.Concat(
      parameters.ToDictionary().Select(item => $"{item.Key}: {item.Value.ToString()}"));

    Console.WriteLine($"-- SetParametersAsync (parameters: [{ParameterViewString}])");
    await base.SetParametersAsync(parameters);
  }

  protected override void OnParametersSet()
  {
    Console.WriteLine("-- OnParametersSet");
  }

  protected override async Task OnParametersSetAsync()
  {
    Console.WriteLine("-- OnParametersSetAsync");
    // await ...
  }

  protected override bool ShouldRender()
  {
    Console.WriteLine("-- ShouldRender(): true");
    return true;
  }

  protected override void OnAfterRender(bool firstRender)
  {
    if (firstRender)
    {
      Console.WriteLine("-- OnAfterRender (firstRender = true)");
    }
    else
    {
      Console.WriteLine("-- OnAfterRender (firstRender = false)");
    }
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      Console.WriteLine("-- OnAfterRenderAsync (firstRender = true)");
      // await ...
    }
    else
    {
      Console.WriteLine("-- OnAfterRenderAsync (firstRender = false)");

      if (Name == "B" && count == "1") {
      Console.WriteLine("-- -- new state --");
      this.count = "2";
      StateHasChanged();
    }
      // await ...
    }
  }
}