<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

<h1 class="greeting">
  Hello World!
</h1>
<label for="editbox">Name:</label>
<input id="editbox" type="text" />