<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

@using Demo.Todos

@inject ITodosService TodosService

@if (todos == null)
{
    <p>Loading TODO's...</p>
}
else
{
    <ul>
    @foreach (var todo in todos)
        {
            <li>@todo.Completed - @todo.Title</li>
        }
    </ul>
}

<button @onclick="Update">Update</button>

@code {
    private IEnumerable<Todo>? todos;

    private async Task Update()
    {
        // Update 2nd item
        var secondTodo = todos?.ElementAtOrDefault(1);
        if (secondTodo != null)
            await TodosService.UpdateAsync(secondTodo with { Completed = !secondTodo.Completed });

        // Add item
        await TodosService.AddAsync(new(0, $"New item @ {DateTimeOffset.Now}", false));

        // Delete first item
        var firstTodo = todos?.FirstOrDefault();
        if (firstTodo != null)
            await TodosService.DeleteAsync(firstTodo);

        // Get all items
        todos = await TodosService.TodosAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        todos = await TodosService.TodosAsync();
    }
}