<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@inject IJSRuntime JS

@using System
@implements IDisposable

<h1>Hello @Name! (@count time)</h1>

@code {
  private string count = "1";

  // Property
  [Parameter]
  public string Name { get; set; }

  public Hello()
  {
    Console.WriteLine("-- Constructor");
    JS.InvokeVoidAsync("logEvent", "Constructor", Name, count);
  }

  public void Dispose()
  {
    Console.WriteLine("-- Dispose");
    JS.InvokeVoidAsync("logEvent", "Dispose", Name, count);
  }

  protected override void OnInitialized()
  {
    Console.WriteLine("-- OnInitialized");
    JS.InvokeVoidAsync("logEvent", "OnInitialized", Name, count);
  }

  protected override async Task OnInitializedAsync()
  {
    Console.WriteLine("-- OnInitializedAsync");
    JS.InvokeVoidAsync("logEvent", "OnInitializedAsync", Name, count);
    //await ...
  }

  public override async Task SetParametersAsync(ParameterView parameters)
  {
    string ParameterViewString = string.Concat(
      parameters.ToDictionary().Select(item => $"{item.Key}: {item.Value.ToString()}"));

    Console.WriteLine($"-- SetParametersAsync (parameters: [{ParameterViewString}])");
    JS.InvokeVoidAsync("logEvent", $"SetParametersAsync (parameters: [{ParameterViewString}])", Name, count);
    await base.SetParametersAsync(parameters);
  }

  protected override void OnParametersSet()
  {
    Console.WriteLine("-- OnParametersSet");
    JS.InvokeVoidAsync("logEvent", "OnParametersSet", Name, count);
  }

  protected override async Task OnParametersSetAsync()
  {
    Console.WriteLine("-- OnParametersSetAsync");
    JS.InvokeVoidAsync("logEvent", "OnParametersSetAsync", Name, count);
    // await ...
  }

  protected override bool ShouldRender()
  {
    bool render = Name != "C";

    Console.WriteLine($"-- ShouldRender(): {render}");
    JS.InvokeVoidAsync("logEvent", $"ShouldRender(): {render}", Name, count);
    return render;
  }

  protected override void OnAfterRender(bool firstRender)
  {
    Console.WriteLine($"-- OnAfterRender (firstRender = {firstRender})");
    JS.InvokeVoidAsync("logEvent", $"OnAfterRender (firstRender = {firstRender})", Name, count);
  }

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    Console.WriteLine($"-- OnAfterRenderAsync (firstRender = {firstRender})");
    JS.InvokeVoidAsync("logEvent", $"OnAfterRenderAsync (firstRender = {firstRender})", Name, count);

    if (!firstRender && Name == "B" && count == "1")
    {
      Console.WriteLine("-- -- new state --");
      this.count = "2";
      StateHasChanged();
    }
    // await ...
  }
}