<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<EditForm Model="model">
  <label>
    Dutch:
    <InputText @bind-Value="model.World" />
  </label>
</EditForm>

<p>Hallo @model.World</p>

@code {
  private LanguageModel model = new LanguageModel { World = "Wereld" };
}
