<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<ul>
    <Virtualize Context="item" Items="@items">
        <li>@item</li>
    </Virtualize>
</ul>

@code {
    private string[] items = Enumerable
        .Repeat(0, 1000)
        .Select((i, idx) => idx.ToString())
        .ToArray();
}
