<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<h1>Dynamic Components</h1>

@foreach (Type t in types)
{
    <DynamicComponent Type="@t" />
}

@code {
    private IList<Type> types = new List<Type> { typeof(GreetingDutch), typeof(GreetingEnglish), typeof(GreetingSpanish) };
}