@inherits LayoutComponentBase
<div class="main">
  <aside class="sidebar">
    <h3>Dynamic Form Suite</h3>
    <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    <NavLink href="schema-dictionary">1. Schema + Dictionary</NavLink>
  <NavLink href="reflection-poco">2. Reflection on POCO</NavLink>
    <NavLink href="json-schema">3. JSON Schema</NavLink>
  </aside>
  <section class="content">
    @Body
  </section>
</div>
