<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@{ var date = DateTime.Now.ToString(); }

<EditForm Model="new Object()">
    <p>Page loaded at: @date</p>
    <button type="submit">Submit</button>
</EditForm>
