<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@using System.Text.Json;
@using System.Text.Json.Serialization;

@{ var date = DateTime.Now.ToString(); }

<form @onsubmit="handleSubmit">
    <p>Page loaded at: @date</p>
    <button>Submit</button>
</form>

@code {
    private void handleSubmit(EventArgs e) {
        Console.WriteLine("---");
        Console.WriteLine(JsonSerializer.Serialize(e));
    }
}