<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

@inject IJSRuntime JS

<button @onclick="handleClickAsync">Notify</button>

@code {
    private async void handleClickAsync()
    {
        await JS.InvokeVoidAsync("notify", DateTime.Now.ToString());
    }
}
