<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<h1>Without Error Boundary</h1>
<ErrorBoundary>
    <ChildContent>
        <Divider />
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="error">
            <h1>Sorry, there is an expection!</h1>
            <p>Message: @ex.Message</p>
            <p>Source: @ex.Source</p>
            <p>Data: @ex.Data</p>
            <p>StackTrace: @ex.StackTrace</p>
        </div>
    </ErrorContent>
</ErrorBoundary>
