<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<!-- Namespace of Components folder -->
@using Components_ComponentsFolder.Components

<h1>Hello Blazor!</h1>
