<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<EditForm Model="model">
    <label>
        Value
        <InputCheckbox @bind-Value="model.Value" />
    </label> 
</EditForm>

@model.Value

@code {
    private DemoModel model = new DemoModel();
}