<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2024 Rick Beerendonk -->

<LayoutView Layout="@typeof(MainLayout)">
    <SectionContent SectionName="sub-header">
        <h2>Sub Header</h2>
    </SectionContent>

    <h1>Hello Blazor!</h1>

    <SectionContent SectionName="footer">
        <p>Extra footer</p>
    </SectionContent>
</LayoutView>