<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<div class="comment">Remove focus to pass the value to the model.</div>

<EditForm Model="demoModel">
    <InputTextArea @bind-Value="demoModel.Value" />
</EditForm>

<pre>
    @demoModel.Value
</pre>

@code {
    private DemoModel demoModel = new DemoModel();
}