<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

@inject AppState AppState

<h1>Top</h1>
<Middle />
<button @onclick="AppState.SwitchColor">Top: Switch color</button>

@code {
}
