<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@inherits LayoutComponentBase

<header>
    <h1>App</h1>

    <nav>
        <NavLink href="">
            Home
        </NavLink>
        <NavLink href="page1">
            Page 1
        </NavLink>
        <NavLink href="page2">
            Page 2
        </NavLink>
        <NavLink href="page3">
            Page 3
        </NavLink>
        <NavLink href="page4">
            Page 4
        </NavLink>
    </nav>
</header>

<main>
    @Body
</main>

<footer>My copyright</footer>
