<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<ul>
    @{ int i = 0; }
    @while (i < items.Length)
    {
        <li>@items[i]</li>

        i++;
    }
</ul>

@code {
    private string[] items = { "one", "two", "three" };
}
