<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

<!-- 2. PageTitle -->
<PageTitle>Hello @name</PageTitle>

<h1>Hello @name!</h1>

@code {
    private string name = "Blazor";
}
