<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<a @attributes="OtherAttributes">!!! @ChildContent !!!</a>

@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter(CaptureUnmatchedValues = true)]
  public Dictionary<string, object>? OtherAttributes { get; set; }
}