/* European Union Public License version 1.2 */
/* Copyright © 2021 Rick Beerendonk */

.style1 {
  color: red;
}

.style2 {
  font-weight: bold;
  text-decoration: underline;
}

.style3 {
  background-color: lightgray;
}
