<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<ul>
    @if (visible)
    {
        <li>Visible</li>
    }
    
    @if (!visible)
    {
        <li>Not Visible</li>
    }
</ul>

@code {
    private bool visible = true;
}
