<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2024 Rick Beerendonk -->

@* /page?id=3 *@
@page "/page"

@inject NavigationManager NavManager

<h2>Page @Id.ToString()</h2>

<p>Created at: @componentCreatedTime</p>

<button @onclick="GoToNextPage">Go to next page</button>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    private DateTime componentCreatedTime = DateTime.Now;

    //protected override async Task OnParametersSetAsync()
    //{
    //    // This runs every time parameters change (including initial load)
    //}

    private void GoToNextPage()
    {
        var newUrl = NavManager.GetUriWithQueryParameter("id", Id + 1);
        NavManager.NavigateTo(newUrl);
    }
}