<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<div class="container">
  The only item:
  <div class="content">
    @* Alternative content if ChildContent is null *@
    @if (ChildContent == null)
    {
      <span>Default Slot Value</span>
    }
    else
    {
      @ChildContent
    }
  </div>
</div>

@code {
  [Parameter]
  public RenderFragment? ChildContent { get; set; }
}