/* European Union Public License version 1.2 */
/* Copyright © 2020 Rick Beerendonk */

.container {
  background-color: lightgray;
  padding: 10px;
}

.content {
  background-color: white;
  padding: 10px;
}
