<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<InputText bind-Value=@name @ref="inputText" />
<h1>Hello @name!</h1>

@code {
    private ElementReference inputText;

    private string name = "Blazor";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await inputText.FocusAsync();
        }
    }
}
