<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<h2>Middle</h2>
<CascadingValue Value="color" Name="BackgroundColorParameter">
    <Bottom />
</CascadingValue>

@code {
    const string color = "lightgray";
}
