<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

@inject IJSRuntime JS

<button @onclick="handleClickAsync">Notify</button>

@code {
    private IJSObjectReference? module;

    protected override async Task OnInitializedAsync()
    {
        module = await JS.InvokeAsync<IJSObjectReference>(
            "import", "./js/csharp-calling-js.mjs");
    }

    private async Task handleClickAsync()
    {
        if (module != null)
        {
            await module.InvokeVoidAsync("notify", DateTime.Now.ToString());
        }
    }
}
