<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

<dialog open>
    <h1>Dialog</h1>
    <form method="dialog">
        <label>Form</label>
        <button type="submit">Confirm</button>
    </form>
</dialog>

@code {}
