<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2022 Rick Beerendonk -->

@inject IOther Other

<h1>Hello Blazor!</h1>

@code {
    protected override void OnInitialized()
    {
        Other.Info("Greeting component created.");
    }
}