<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

@for (int i = 1; i < 4; i++)
{
    // ISSUE: The lambda expression is not necessary
    //        and doesn't grab the value of i at the time of the loop.
    <button @onclick="() => HandleClick(i)">Add @i</button>
}

<h1>Count: @count</h1>

@code {
    private int count = 0;

    private void HandleClick(int nr) {
        count += nr;
    }
}
