<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<EditForm Model="demoModel">
    <InputSelect @bind-Value="demoModel.Value">
        @foreach (Options option in Enum.GetValues(typeof(Options)))
        {
            <option value="@option">Option @option</option>
        }
    </InputSelect>
</EditForm>

@demoModel.Value

@code {
    private DemoModel demoModel = new DemoModel();
}