<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

@page "/page"
@inject NavigationManager NavManager

<div class="comment">Go to another page (id) doesn't always update the UI!</div>

<h2>Page @Id.ToString()</h2>

@code {
    public int Id { get; set; }

    protected override void OnInitialized()
    {
        Uri uri = NavManager.ToAbsoluteUri(NavManager.Uri);

        // Helper from Microsoft.AspNetCore.WebUtilities package
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var idParam))
        {
            Id = Convert.ToInt32(idParam);
        }
    }
}