<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <AuthorizeRouteView DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                @if (context.User.Identity?.IsAuthenticated != true)
                {
                    <RedirectToLogin />
                }
                else
                {
                    <p role="alert">You are not authorized to access this resource.</p>
                }
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate Selector="h1" />
    </Router>
</CascadingAuthenticationState>
