<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2024 Rick Beerendonk -->

<h2>@DateTime.Now - @SimpleType</h2>

@code {
    [Parameter]
    public string? SimpleType { get; set; }
}