<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2022 Rick Beerendonk -->

<h1>Top</h1>
<CascadingValue Value="color" Name="ColorParameter">
    <CascadingValue TValue="Action" Value="ChangeColor" Name="SwitchColorParameter">
        <Middle />
        <button @onclick="ChangeColor">Top: Switch color</button>
    </CascadingValue>
</CascadingValue>

@code {
    private string color = "red";

    private void ChangeColor()
    {
        color = (color == "red") ? "green" : "red";
    }
}
