<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@inherits LayoutComponentBase

<header>
    <h1>App</h1>

    <nav>
        <NavLink href="">
            Home
        </NavLink>
        <NavLink href="docs">
            Docs (root)
        </NavLink>
        <NavLink href="docs/intro">
            Docs/Intro
        </NavLink>
        <NavLink href="docs/api/v1/users">
            Docs/API/V1/Users
        </NavLink>
        <NavLink href="docs/guide/getting-started/installation">
            Docs/.../Installation
        </NavLink>
    </nav>
</header>

<main>
    @Body
</main>

<footer>My copyright</footer>
