<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@page "/page4"
@attribute [Authorize(Policy="VipMemberPolicy")]

<h2>Page 4</h2>
<p>Only visible for authorized VIPs.</p>
