<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<h3 style="color: @Color">Bottom @Number</h3>

@code {
    [CascadingParameter]
    public int Number { get; set; }

    [CascadingParameter]
    public string? Color { get; set; }
}
