<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<div class="container">
  Item:
  <div class="content">
    @if (Item != null)
    {
      @Item("Data from Container")      
    }
  </div>
</div>

@code {
  [Parameter]
  public RenderFragment<string>? Item { get; set; }
}