<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<button @onclick="SwitchColor">Switch color</button>

@code {
    [CascadingParameter(Name = "ColorParameter")]
    public string? Color { get; set; }

    [CascadingParameter(Name = "ChangeColorParameter")]
    private EventCallback<string> ChangeColor { get; set; }

    private void SwitchColor() => ChangeColor.InvokeAsync((Color == "red") ? "blue" : "red");
}
