<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2023 Rick Beerendonk -->

<!-- Add package reference to Microsoft.AspNetCore.Components.QuickGrid -->

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>First</th>
            <th>Second</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in items)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.First</td>
                <td>@item.Second</td>
            </tr>
        }
    </tbody>
</table>

@code {
    record Item(int Id, string First, int Second);

    private readonly IQueryable<Item> items = Enumerable
        .Repeat(0, 1000)
        .Select((i, idx) => new Item(idx, $"Item {idx + 1}", Random.Shared.Next(0, 1000)))
        .AsQueryable();
}