<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<main>
    @switch (number)
    {
        case 0:
            <span>Zero</span>
            break;
        case 1:
            <i>One</i>
            break;
        default:
            <u>Large number</u>
            break;
    }
</main>

@code {
    private int number = 123;
}
