<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<button @onclick="SwitchColor">Switch color</button>

@code {
    [CascadingParameter(Name = "SwitchColorParameter")]
    private Action ChangeColor { get; set; }

    private void SwitchColor()
    {
        // In ChangeColor we now must call StateHasChanged()
        ChangeColor();
    }
}
