<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<h1>Top</h1>
<CascadingValue Value="color" Name="ColorParameter">
    <CascadingValue Value="ChangeColor" Name="SwitchColorParameter">
        <Middle />
        <button @onclick="ChangeColor">Top: Switch color</button>
    </CascadingValue>
</CascadingValue>

@code {
    private string color = "red";

    private void ChangeColor()
    {
        color = (color == "red") ? "blue" : "red";

        // Manually trigger a re-render,
        // because this function is called from another component
        StateHasChanged();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        // Check we don't (sometimes) have 2 renders
        // because ChangeColor calls StateHasChanged
        Console.WriteLine("Top.OnAfterRender @ " + DateTime.Now);
    }
}
