<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@inherits LayoutComponentBase

<header>
    <h1>Layout Example</h1>
</header>
<main>
    @Body
</main>
<footer>My Copyright</footer>
