<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<header>
    <h1>App</h1>

    <nav>
        <a href="" onclick:preventDefault="true" @onclick="NavigateHome">
            Home
        </a>
        <a href="" onclick:preventDefault="true" @onclick="NavigatePage1">
            Page 1
        </a>
        <a href="" onclick:preventDefault="true" @onclick="NavigatePage2">
            Page 2
        </a>
    </nav>
</header>

<main>
    @Body
</main>

<footer>My copyright</footer>

@code {
    private void NavigateHome() {
        Console.WriteLine("home");
        NavigationManager.NavigateTo("/");
    }

    private void NavigatePage1() {
        Console.WriteLine("page1");
        NavigationManager.NavigateTo("Page1");
    }

    private void NavigatePage2() {
        Console.WriteLine("page2");
        NavigationManager.NavigateTo("Page2");
    }
}