@page "/"

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/oblicum.css" />
    <link rel="icon" type="image/ico" href="favicon.ico" />
    <link href="DataBinding_Style_SeparateFile_Deep.styles.css" rel="stylesheet" />
</head>

<body>
    <Top />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
