<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<ul>
    @if (value)
    {
        <li>Rendered</li>
    }
    
    @if (!value)
    {
        <li>Not Rendered</li>
    }
</ul>

@code {
    private bool value = true;
}
