<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@inherits LayoutComponentBase

<header>
    <h1>App</h1>

    <nav>
        <NavLink href="">
            Home
        </NavLink>
        <NavLink href="Page1">
            Page 1
        </NavLink>
        <NavLink href="Page2">
            Page 2
        </NavLink>
        <NavLink href="Page404">
            Page 404
        </NavLink>
    </nav>
</header>

<main>
    @Body
</main>

<footer>My copyright</footer>
