<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

@* @onclick is an event handler attribute *@
<button @onclick="HandleClick">This has been clicked @count.ToString("0.#") times!</button>

@code {
    private decimal count;

    private async Task HandleClick()
    {
        count += 0.5m;
        await Task.Delay(1000);
        count += 0.5m;
    }
}
