<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<EditForm Model="model">
    <InputRadioGroup @bind-Value="model.Value">
        <label><InputRadio Value="Options.A" />@Options.A</label><br />
        <label><InputRadio Value="Options.B" />@Options.B</label><br />
        <label><InputRadio Value="Options.C" />@Options.C</label><br />
    </InputRadioGroup>
</EditForm>

<pre>
@model.Value
</pre>

@code {
    private DemoModel model = new DemoModel();
}