<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@inject HttpClient Http

@if (todos == null)
{
    <p>Loading TODO's...</p>
}
else
{
    <ul>
        @foreach (var todo in todos)
        {
            <li>
                <span class="checkbox @(todo.Completed ? "completed" : "pending")">
                    @(todo.Completed ? "☑" : "☐")
                </span>
                @todo.Title
            </li>
        }
    </ul>
}

@code {
    private IEnumerable<Todo>? todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await Http.GetFromJsonAsync<IEnumerable<Todo>>("https://jsonplaceholder.typicode.com/todos") ?? [];
    }

    private record Todo(
        int UserID,
        int ID,
        string Title,
        bool Completed
    );
}