<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<EditForm Model="demoModel">
    <InputCheckbox @bind-Value="demoModel.Value" id="checkbox" />
    <label for="checkbox">Value</label> 
</EditForm>

@demoModel.Value

@code {
    private DemoModel demoModel = new DemoModel();
}