<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<ul>
    @foreach (var item in _items)
    {
        <li>@item</li>
    }
</ul>

@code {
    private string[] _items = new string[] {"one", "two", "three" };
}
