<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2019 Rick Beerendonk -->

<h1>Hello @Name!</h1>

@code {
    [CascadingParameter(Name = "Name")]
    public required string? Name { get; set; }

    protected override void OnInitialized()
    {
        if (Name == null)
        {
            throw new InvalidOperationException("Compound component GreetingEditorText rendered outside GreetingEditor");
        }
    }
}
