<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<h1>Top</h1>
<CascadingValue Value="@color">
    <CascadingValue Value="1">
        <Middle />
    </CascadingValue>
</CascadingValue>

@code {
    const string color = "red";
}
