<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<!-- OnValidSubmit: Only submit when the form is valid -->
<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <!-- Validates based on Data Annotations -->
    <DataAnnotationsValidator />

    <label for="name">Name:</label>
    <InputText id="name" @bind-Value="model.Name" />
    <!-- Shows specific validation violations -->
    <ValidationMessage For="() => model.Name"/>

    <br />

    <label for="age">Age:</label>
    <InputNumber id="age" @bind-Value="model.Age" />
    <!-- Shows specific validation violations -->
    <ValidationMessage For="() => model.Age"/>

    <br />

    <button type="submit">Submit</button>
</EditForm>

@if (result != string.Empty) {
    <div>
        Result: @result
    </div>
}

@code {
    private DemoModel model = new DemoModel();

    private string result = string.Empty;

    private void HandleValidSubmit()
    {
        // Use the form result
        result = $"{model.Name} ({model.Age})";

        // Reset the form
        model = new DemoModel();
    }
}