<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<Child OnClickCallback="ChildChanged" />
<h1>Clicked: @count</h1>

@code {
  private int count = 0;

  private void ChildChanged()
  {
    this.count++;
  }
}