<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<button @onclick="handleClick">Click</button>

@code {
  // Property
  [Parameter]
  public EventCallback<EventArgs> OnClickCallback { get; set; }

  private void handleClick(MouseEventArgs args)
  {
    this.OnClickCallback.InvokeAsync(EventArgs.Empty);
  }
}