<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2025 Rick Beerendonk -->

<!-- DOES NOT WORK: @onclose="HandleClose" -->
<dialog open onclose="@HandleClose">
    <h1>Dialog</h1>
    <form method="dialog">
        <label>Form</label>
        <button type="submit">Confirm</button>
    </form>
</dialog>

@code {
    private void HandleClose()
    {
        Console.WriteLine("Dialog closed");
    }
}
