<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<h1 @onclick="handleClick">This has been clicked @_count times!</h1>

<!-- no @code but a separate .razor.cs file -->
