<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<h3 style="background-color: @BackgroundColor; color: @Color">Bottom</h3>

@code {
    [CascadingParameter(Name = "BackgroundColorParameter")]
    public string? BackgroundColor { get; set; }

    [CascadingParameter(Name = "ColorParameter")]
    public string? Color { get; set; }
}
