<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<h1>Without Error Boundary</h1>
<ErrorBoundary>
    <ChildContent>
        <Divider />
    </ChildContent>
    <ErrorContent Context="ex">
        <div class="error"> Sorry, there is an expection: @ex</div>
    </ErrorContent>
</ErrorBoundary>
