<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<h1>Top</h1>

<!-- Value is automatically databinded -->
<CascadingValue Value="color">
    <Middle />
</CascadingValue>

<!-- Value is fixed (escape databinding) -->
<CascadingValue Value="@("blue")" IsFixed="true">
    <Bottom />
</CascadingValue>

@code {
    const string color = "red";
}
