<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<p class="comment">
    Add some text in an input and observe what happens if you click the
    button.
</p>

<button @onclick="InsertTop">Insert at Top</button>

<ul>
    @for (int i = 0; i < items.Count; i++)
    {
        <li @key="i"><input placeholder="@items[i]" /></li>
    }
</ul>

@code {
    private IList<string> items = ["one", "two", "three"];

    private void InsertTop() {
        items.Insert(0, (items.Count + 1).ToString());
    }
}
