<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2024 Rick Beerendonk -->

@* /page?id=3 *@
@page "/page"

@inject NavigationManager NavManager

<h2>Page @Id.ToString()</h2>

<button @onclick="GoToNextPage">Go to next page</button>

@code {
    [SupplyParameterFromQuery]
    public int Id { get; set; }

    private void GoToNextPage()
    {
        var newUrl = NavManager.GetUriWithQueryParameter("id", Id + 1);
        NavManager.NavigateTo(newUrl);
    }
}