<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

<EditForm Model="model">
    <InputSelect @bind-Value="model.Value">
        @foreach (Options option in Enum.GetValues(typeof(Options)))
        {
            <option value="@option">Option @option</option>
        }
    </InputSelect>
</EditForm>

@model.Value

@code {
    private DemoModel model = new DemoModel();
}