<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<style>
  /* Blazor 3 scoping */
  h2.componentB {
    background-color: #444;
    color: white;
  }
</style>

<h2 class="componentB">Component B</h2>
