<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

@using Demo.Todos

@inject ITodosService TodosService

@if (todos == null)
{
    <p>Loading TODO's...</p>
}
else
{
    <ul>
        @foreach (var todo in todos)
        {
            <li>
                <span class="@(todo.Completed ? "completed" : "pending")">
                    @(todo.Completed ? "☑" : "☐")
                </span>
                @todo.Title
            </li>
        }
    </ul>
}

@code {
    private IEnumerable<Todo>? todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await TodosService.TodosAsync();
    }
}