<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<button @onclick="HandleClick">Click</button>

@code {
  // Event
  [Parameter]
  public EventCallback OnClickCallback { get; set; }

  private void HandleClick(MouseEventArgs args)
  {
    this.OnClickCallback.InvokeAsync();
  }
}