<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2021 Rick Beerendonk -->

@{ var date = DateTime.Now.ToString(); }

<!-- Doesn't work -->
<form @onsubmit:preventDefault="true">
    <p>Page loaded at: @date</p>
    <button>Submit</button>
</form>
