<!-- European Union Public License version 1.2 -->
<!-- Copyright © 2020 Rick Beerendonk -->

<!-- OnValidSubmit: Only submit when the form is valid -->
<EditForm Model="@demoModel" OnValidSubmit="@HandleValidSubmit">
    <!-- Validates based on Data Annotations -->
    <DataAnnotationsValidator />

    <!-- Shows a list of all validation violations -->
    <ValidationSummary />

    <label for="name">Name:</label>
    <InputText id="name" @bind-Value="demoModel.Name" />

    <br />

    <button type="submit">Submit</button>
</EditForm>

@if (result != string.Empty) {
    <div>
        Result: @result
    </div>
}

@code {
    private DemoModel demoModel = new DemoModel();

    private string result = string.Empty;

    private void HandleValidSubmit()
    {
        result = demoModel.Name;
    }
}